# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules
dist
www/lib
www/app
www/node_modules
www/*.html
www/*.js
www/*.css
www/*.ts
www/*.scss
.idea/
typings/
build/
npm-debug.log
.vscode

.editorconfig:
# http://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
